.App {
  text-align: center;
  font-family: Charmonman, cursive;
}
a {
  text-decoration: none;
  color: dimgrey;
}
button {
  color: royalblue;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  font-weight: 700;
  font-size: 1rem;
  font-family: Lobster;
}
p {
  font-weight: 700;
}
